@model System.Collections.Generic.IList<DotNetCoreWeb.AdminLTE.ProjectTemplates.Areas.Admin.ViewModels.SidebarMenuViewModel>

<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
        with font-awesome or any other icon font library -->
        @foreach (var menu in @Model)
        {
            if (menu.IsHeader)
            {
                <li class="nav-header">@menu.Title</li>
            }
            else
            {
                <li class="nav-item">
                    @if (!string.IsNullOrEmpty(@menu.Url?.ActionName))
                    {
                        <a asp-action="@menu.Url?.ActionName" asp-controller="@menu.Url?.ControllerName" asp-area="@menu.Url?.AreaName" class="nav-link">
                            <i class="@menu.Class"></i>
                            <p>
                                @menu.Title
                                @if (menu.Child?.Count > 0)
                                {
                                    <i class="fas fa-angle-left right"></i>
                                }
                            </p>
                        </a>
                    }
                    else if (!String.IsNullOrEmpty(menu.Url?.Url))
                    {
                        <a href="@menu.Url.Url" class="nav-link" target="_blank">
                            <i class="@menu.Class"></i>
                            <p>
                                @menu.Title
                                @if (menu.Child?.Count > 0)
                                {
                                    <i class="fas fa-angle-left right"></i>
                                }
                            </p>
                        </a>
                    }
                    else
                    {
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-copy"></i>
                            <p>
                                @menu.Title
                                @if (menu.Child?.Count > 0)
                                {
                                    <i class="fas fa-angle-left right"></i>
                                }
                            </p>
                        </a>
                        @if (menu.Child?.Count > 0)
                        {
                            <ul class="nav nav-treeview">
                                @foreach (var subMenu in menu.Child)
                                {
                                    <li class="nav-item">
                                        @if (!string.IsNullOrEmpty(@subMenu.Url?.ActionName))
                                        {
                                            <a asp-action="@subMenu.Url?.ActionName" asp-controller="@subMenu.Url?.ControllerName" asp-area="@subMenu.Url?.AreaName" class="nav-link">
                                                <i class="@subMenu.Class"></i>
                                                <p>
                                                    @subMenu.Title
                                                    @if (subMenu.Child?.Count > 0)
                                                    {
                                                        <i class="fas fa-angle-left right"></i>
                                                    }
                                                </p>
                                            </a>
                                        }
                                        else if (!String.IsNullOrEmpty(subMenu.Url?.Url))
                                        {
                                            <a href="@subMenu.Url.Url" class="nav-link" target="_blank">
                                                <i class="@subMenu.Class"></i>
                                                <p>
                                                    @subMenu.Title
                                                    @if (subMenu.Child?.Count > 0)
                                                    {
                                                        <i class="fas fa-angle-left right"></i>
                                                    }
                                                </p>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="#" class="nav-link">
                                                <i class="nav-icon fas fa-copy"></i>
                                                <p>
                                                    @subMenu.Title
                                                    @if (subMenu.Child?.Count > 0)
                                                    {
                                                        <i class="fas fa-angle-left right"></i>
                                                    }
                                                </p>
                                            </a>
                                        }

                                    </li>
                                }
                            </ul>
                        }
                    }
                </li>
            }
        }


    </ul>
</nav>
<!-- /.sidebar-menu -->